src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="music-catalogue-api-config" api="resource::3f9de66a-06e2-456c-8fc9-3c910097c28b:music-catalogue-api:1.0.2:raml:zip:music-catalogue-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="music-catalogue-api-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="music-catalogue-api-config" />
		<error-handler ref="music-catalogue-api-main-error-handler" />
    </flow>
    <flow name="music-catalogue-api-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="music-catalogue-api-config" />
		<error-handler ref="music-catalogue-api-console-error-handler" />
    </flow>
    <flow name="put:\products\(id):application\json:music-catalogue-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Product updated."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\products\(id):music-catalogue-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Product deleted."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products:music-catalogue-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: 1,
    sku: "CD000001",
    name: "Metallica - Master of puppets",
    description: "Master of Puppets is the third studio album by the American heavy metal band Metallica, released on March 3, 1986, by Elektra Records.",
    unit_price: 19.99,
    image_url: "https://cdn-icons-png.flaticon.com/512/32/32328.png",
    active: true,
    units_in_stock: 20,
    date_created: "2022-03-15T16:11:11Z",
    last_updated: "2022-03-15T16:11:11Z",
    category: {
      id: 1,
      category_name: "CD"
    }
  }, 
  {
    id: 12,
    sku: "LP000002",
    name: "Slayer - South of Heaven",
    description: "South of Heaven is the fourth studio album by American thrash metal band Slayer, released on July 5, 1988 by Def Jam Recordings.",
    unit_price: 23.99,
    image_url: "https://cdn-icons-png.flaticon.com/512/32/32328.png",
    active: true,
    units_in_stock: 8,
    date_created: "2022-03-15T16:11:11Z",
    last_updated: "2022-03-15T16:11:11Z",
    category: {
      id: 2,
      category_name: "Vinyl"
    }
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products\(id):music-catalogue-api-config">
		<flow-ref doc:name="getProductsById" doc:id="f140ccaa-bf3f-45eb-978b-c401d482a1e6" name="getProductsById"/>
    </flow>
    <flow name="post:\products:application\json:music-catalogue-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Product created"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
